body {
    background: radial-gradient(ellipse, #3494e6, #b96eec);
    padding: 10px;
    color: white;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

.catalogo {
    text-align: center;
    padding: 10px;
}

.introdução {
    background-color: rgba(255, 0, 0, 0.3);
    padding: 20px;
    transition: background-color 0.3s;
}

.introdução:hover {
    background-color: rgb(159, 50, 202);
}

.imagen-container {
    display: inline-block;
}

.imagen-container img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.imagen-container img:hover {
    transform: rotate(15deg); 
}

.imagenes-container {
    white-space: nowrap;
    overflow-x: hidden;
}

.imagen1,
.imagen2,
.imagen3,
.imagen4,
.imagen5 {
    width: 265px;
    height: auto;
}

.references {
    text-align: center;
    color: white;
}
  
  .bios-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .bios-image {
    width: 250px;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .bios-text {
    margin-left: 20px;
  } 

  .bios-container.clicked .bios-image {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
  }
  


